<div class="container">
  <div class="top-part">
    <p-button
      [disabled]="!(_usersStoreService.disabledAddUserButton$ | async)"
      label="Add User"
      (click)="formPanel.toggle($event)"
    ></p-button>
  </div>
  <div *ngIf="_usersStoreService.usersFromStore$ | async as users">
    <p-table [value]="users">
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.active }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-overlayPanel #formPanel>
  <form
    class="form-container"
    [formGroup]="userCreationFormGroup"
    (ngSubmit)="submit(); formPanel.hide()"
  >
    <span class="row">
      <label htmlFor="username">Username</label>
      <input pInputText id="username" formControlName="name" />
    </span>
    <p class="error-msg" *ngIf="name?.hasError('required') && name?.touched">
      Name required
    </p>

    <p class="error-msg" *ngIf="name?.hasError('nameExist')">
      Name already exist
    </p>

    <span class="row">
      <label for="active">Active</label>
      <p-checkbox
        formControlName="active"
        id="active"
        [binary]="true"
      ></p-checkbox>
    </span>
    <p-button
      label="Create User"
      type="submit"
      [loading]="name?.status === 'PENDING'"
      [disabled]="userCreationFormGroup.invalid || !(validatorEmit$ | async)"
    ></p-button>
  </form>
</p-overlayPanel>
